.footer {
    margin-top: 67px;
    margin-bottom: 60px;
    padding: 0;
}

.footer__copyright {
    color: #545454;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 780px){
    .footer {
        margin: 0 auto;
    }

    .footer__copyright {
        margin-bottom: 60px;
    }

}

@media screen and (max-width: 480px) {
    .footer {
        margin: 0 auto 36px;
        max-width: 282px;
    }

    .footer__copyright {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
    }
}