.page {
    background-color: #000000;
    color: #ffffff;
}

.page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 1100px) {
    .page__section {
        margin: 0 20px;
        max-width: calc(100% - 40px);
    }
}